body {
  height: 100vh;
  font-family: Helvetica, sans-serif;
  overflow: hidden;
  
  
}
.bg-body{
    background: linear-gradient(135deg, #1d1d1f,#eee) no-repeat;
}

.textGradient{
	background: -webkit-linear-gradient(180deg,#ffd700,#fff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.projTitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 2em;
  border-bottom: 3px solid #ffd700;
  letter-spacing: 3px;
  margin-top: 100px;
}

.scroll{
	overflow:auto;
}

/* Barra di ricerca */
.search-container {
  
  margin-left:25%;
  padding-bottom:5%;
  width:50%;
  heigh: 30px;
  display: flex;
  align-items:center;
  justify-content:center;
  margin-top: 50px;
  background: cover;
  
}

.search-bar{
	width:100%;
  	background: rgba(0,0,0,.2);
  	display: flex;
 	align-items:center;
 	border-radius: 50px;
 	padding: 10px 20px;
 	
  	
}

.search-bar input{
	background: transparent;
	flex: 1;
	border: 0;
	outline: none;
	padding: 14px 10px;
	color: black;
}

.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}
/* Griglia del Catalogo */
.grid-container{
	
	height:100vh;
	justify-items: center;
	align-items: center;
	margin-left:7.5%;
  	width:85%;
	
	
}
.grid{
  
  
  display: grid;
  grid-gap:1rem;
  row-gap:3rem;
  grid-template-columns: repeat(3,1fr);

  justify-items: center;
  align-items: center;
	
}
.container {
  width: 500px;
  height: 500px;
  perspective: 800px;
  padding: 20px;
  display:flex;
  
}

.container:hover > .card {
  cursor: pointer;
  transform: rotateY(180deg);
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.front,
.back {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  position: absolute;
  backface-visibility: hidden;
}
.front img{
	width:100%;
	height:100%;
	border-radius: 2rem;
}
.back img{
	width:190px;
	 border-radius: 2rem;
	
}

.back {
  
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: white;
  
  font-family: 'Droid Serif', serif;
  font-weight: normal;
  font-style: italic;
  
}

/* Fade in dei prodotti */
.fade-in{opacity: 0;transform: translateY(10vh); transition: all 1s cubic-bezier(.215, .61, .355, 1);}
.fade-in.in-page{opacity: 1;transform: translateY(0vh);}


/* Gestione Bottoni */
.button {
 position: relative;
 padding: 1em 1.8em;
 outline: none;
 border: 2px solid #303030;
 background: transparent;
 color: Black;
 letter-spacing: 2px;
 font-size: 15px;
 overflow: hidden;
 transition: 0.2s;
 border-radius: 20px;
 cursor: pointer;
 font-weight: bold;
}

.button:hover {
 box-shadow: 0 0 10px #ffd700, 0 0 25px #ffd700, 0 0 50px #ffd700;
 border: 2px solid #ffd700;
 font-size: 20px;
 
}

/* MEDIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA */

@media(max-width: 1550px){
	
.grid{
  grid-template-columns: repeat(2,1fr);	
}
}

@media(max-width: 1100px){
	
.grid{
  grid-template-columns: repeat(1,1fr);	
}
}