/* Reset */
  body, html{color:black; font-family: 'Catamaran', sans-serif; font-size: 16px; box-sizing: border-box;margin: 0;padding: 0;}*,*:before,*:after{ box-sizing: border-box; }h1,h2,h3,h4,h5,h6, .p, ol, ul{margin: 0 0 1rem 0;padding: 0;}ol,ul{list-style-type: none;}img{height: auto;}h1{font-size: 4rem;} h2{font-size: 3rem;} h3{font-size: 2rem;} h4{font-size: 1rem;} h5{font-size: 0.8rem;} h6{font-size: 0.6rem;}a{text-decoration:none}
  
  /* reveal password bianco*/ 
  ::-ms-reveal {
    filter: invert(100%);
	}
  /* !Button 2 per i cataloghi*/
  .button2 {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
}

.button2:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
  /* ! Button System */
  .button {
  border: none;
  display: block;
  position: relative;
  padding-left: 50px;
  padding: 0.7em 2.4em;
  font-size: 18px;
  background: transparent;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  color: #ffd700;
  z-index: 1;
  font-family: inherit;
  font-weight: 500;
}

  .button span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: -1;
  border: 2px solid #ffd700;
}

  .button span::before {
  content: "";
  display: block;
  position: absolute;
  width: 8%;
  height: 500%;
  background: var(--lightgray);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-60deg);
  transition: all 0.3s;
}

  .button:hover span::before {
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 100%;
  background: #ffd700;
}

  .button:hover {
  color: black;
}

  .button:active span::before {
  background: #ffd700;
}
  .header{
    background-color: #1d1d1f;
    position: fixed;
    top:0; 
    left:0;
    z-index: 9999;
    width: 100%;
    
    
  }
  .header__content{max-width: 1500px;width: 100%;margin: 0 auto; display: flex;justify-content: space-between;}
  .header__logo{padding-top: 2px;padding-left:0px; height: 70px; width: 210px;}
  .header__menu{padding-bottom: 0;margin-bottom: 0;}
  .header__menu li{display: inline-block;}
  .header__menu li a{color:#fff; opacity: 1;display: block;padding: 16px;font-size: 20px;}
  .header__icons{width: 50px;}
  

	
  /*****/
/*   MODAL   */
/*****/
/* The Modal (background) */

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
	transition: all 0.5s ease 0.06s;
	
	color: #fff;
}


/* Modal Content/Box */

.modal-content {
	background-color: #1d1d1f;
	margin: 15% auto;
	padding: 1.2rem;
	max-width: 30%;	
	visibility: hidden;
	box-shadow: 2px 2px 10px 0px rgba(99, 106, 119, 0.6);
	border-radius: 5px;
}



/* The Close Button */

.close {
	color: #dedede;
	/float: right;/
	font-size: 2rem;
	font-weight: bold;
	display: flex;
	align-items: center;
}

.close:before {
	content: "Close";
	font-size: 1rem;
	display: none;
	text-decoration: none;
	align-self: center;
	margin-top: 0.2rem;
	font-weight: 400;
}

.close:hover:before {
	display: initial;
	color: #ffd700;
}

.close:hover,
.close:focus {
	color: #ffd700;
	text-decoration: none;
	cursor: pointer;
}

.close:active,
.close:before:active {
	transition: all 60ms ease;
	transform: scale(0.97);
}

/*********/
/*  modal form layout  ------------------- */
/*********/

.modal-content {
	display: flex;
	flex-direction: column;
    background-color: rgba(0,0,0,0.9);
    background-blend-mode: lighten;
	
}

.modal-header {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
	font-size: 2em;
	font-weight: bold;
	
}

.modal-footer {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}

.modal-footer > input {
	margin-top: 0.8rem;
	margin-bottom: 0rem;
	margin-left: 0rem;
	margin-right: 0rem;
}

.modal-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.modal-form-border{
	border-bottom: 2px solid #ffd700;
}

.slideDown {
	animation-name: slideDown;
	-webkit-animation-name: slideDown;
	animation-duration: 0.6s;
	-webkit-animation-duration: 0.6s;
	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;
	visibility: visible !important;
}
@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(4%);
	}
	65%{
		transform: translateY(-2%);
	}
	80%{
		transform: translateY(2%);
	}
	95%{
		transform: translateY(-1%);
	}
	100% {
		transform: translateY(0%);
	}
}

.h2{
    font-size: 2em;
    color: #ffd700;
    text-align: center;
}
.h2-top{
	margin-top:25px;
}
.btn-bot{
	margin-bottom: 25px;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff8e7;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fada5e;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
top: -5px;
}
.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #fff8e7;
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #fada5e;
    font-size: 1.2em;
    top: 20px;
}


  /* MEDIA --------------------------------------- */
  
  	@media (max-width: 1550px){
  	.header__menu li a{color:#fff; opacity: 1;display: block;padding: 12px;font-size: 16px;}
    }
  	
  	
    @media (max-width: 1420px) {
    .header__menu{
      position: absolute;
      top:70px;
      background-color: #1d1d1f;
      width: 100%;
      height: 100vh;
      height: 0vh;
      overflow: hidden;
      transition: all 1s cubic-bezier(.215, .61, .355, 1);
    }
    
	

    .header__menu li{width: 100%;border-bottom: 1px solid #444}
    .menu-open .header__menu{height: 100vh;padding: 3%;}
    
 

    .icon-hamburger{height: 50px;width: 50px;margin-left: 20px;padding-top: 5px;}
    .icon-hamburger span{height: 1px; width: 30px;background: #fff;position: relative;display: block;margin-top: 12px;transition: all 0.2s cubic-bezier(.215, .61, .355, 1);}
    
    .menu-open .icon-hamburger span:nth-child(1){transform: rotate(45deg) translateY(9px);}
    .menu-open .icon-hamburger span:nth-child(2){transform: rotate(-45deg) translateY(-9px);}

    .header__icons{display: flex;width: 80px;}
	
	.modal-content {
	
	margin: 15% auto;
	/* 15% from the top and centered */
	padding: 1.2rem;
	max-width: 50%;
	/* Could be more or less, depending on screen size */
	visibility: hidden;
	box-shadow: 2px 2px 10px 0px rgba(99, 106, 119, 0.6);
	border-radius: 5px;
	}
	
	.modal {
	overflow: auto;
	}
	
	
	
  }
  
  @media (max-width: 690px) {
  	
  	.inputbox{
    position: relative;
    margin: 30px 0;
    width: 210px;
    border-bottom: 2px solid #fff8e7;
	}
  }